# Lib

# public net.minecraft.inventory.Container field_75149_d # listeners
public net.minecraft.item.EnumDyeColor field_176793_x # chatColor
public net.minecraft.util.EnumChatFormatting field_96329_z # formattingCode
# public net.minecraft.command.CommandHandler field_71561_b # commandSet
public net.minecraft.server.management.ServerConfigurationManager field_72407_n # commandsAllowedForAll
public net.minecraft.client.gui.FontRenderer field_111274_c # unicodePageLocations
# public net.minecraft.util.ChatStyle func_150224_n()Lnet/minecraft/util/text/Style; # getParent
public net.minecraft.util.ChatStyle field_150248_c # bold
public net.minecraft.util.ChatStyle field_150245_d # italic
public net.minecraft.util.ChatStyle field_150243_f # strikethrough
public net.minecraft.util.ChatStyle field_150246_e # underlined
public net.minecraft.util.ChatStyle field_150244_g # obfuscated
public net.minecraft.util.ChatStyle field_150247_b # color
public net.minecraft.util.ChatStyle field_150251_h # clickEvent
public net.minecraft.util.ChatStyle field_150252_i # hoverEvent
public net.minecraft.util.ChatStyle field_150249_a # parentStyle
public net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites
public net.minecraft.nbt.NBTTagList field_74747_a # tagList
public net.minecraft.util.EnumFacing field_82603_g # order_a
public net.minecraft.util.EnumFacing field_82613_h # order_b
public net.minecraft.util.EnumFacing field_82609_l # faceList
public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.util.Timer field_74282_a # ticksPerSecond
public net.minecraft.entity.Entity field_96093_i # entityUniqueID
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guitop

#Util
public net.minecraft.tileentity.TileEntity field_145853_j # classToNameMap
#public-f net.minecraftforge.event.entity.living.LivingAttackEvent ammount # amount
public net.minecraft.nbt.NBTTagList field_74747_a # tagList
